.productoCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 25rem;
    gap: .5rem;
}



.productoCard:hover a {
    color: var(--clr-rojo);
    transition: all .5s;
}

.productoCard:hover .detalles-button {
    opacity: 100%;
    transition: all .5s;
}

.productoCard img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;

}

.productoCard strong {
    color: var(--clr-oscuro);
    font-size: x-large;
    font-weight: 400;
}

.producto-descripcion-card {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    gap: 0;
}

.producto-descripcion-card h3 {
    font-size: 1rem;
    color: black;
    font-weight: 300;
}

.producto-descripcion-card h3:hover {
    color: var(--clr-rojo);
    transition: all 2s;
}
.productoCard:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.producto-descripcion-card strong {
    font-size: 1rem;
    font-weight: 900;
    font-stretch: expanded;
}

.producto-descripcion-card a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: var(--clr-oscuro);
    font-weight: 700;
}
@media (max-width: 768px) {
    .productoCard {
        min-height: fit-content;
    }
    
  }