footer {
    background-color: var(--clr-oscuro);
    display: flex;
    align-items: top;
    justify-content:space-evenly;
    padding-top: 2rem;
    color: var(--clr-blanco);
    text-align: center;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 50px;
    gap: 3rem
}

.logo-footer img {
    width: 100px;
}

footer div {
    min-height: 7rem;
}


footer ul li {
    list-style: none;
    text-align: left;

}

footer .categorias {
    cursor: pointer;
}

.categorias a {
    color: var(--clr-blanco);
}

.categorias a:hover {
    transition: all .5s;
    color: var(--clr-rojo);
}

.redes ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 20px;
}
footer ul, li {
    padding-left: 0px;
}

footer a li{
    font-size: 16px;
    padding-left: 0px;
}
footer i {
    margin-right: 10px;
    color: var(--clr-blanco);
    font-size: 1.2rem;
}

footer i:hover {
    transition: all .5s;
    color: var(--clr-rojo);
    cursor: pointer;
}


.contacto-datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

footer div h3 {
    color: var(--clr-rojo);
    font-size: 18px;
    margin-top: 0;
    opacity: 80%;
    text-align: start;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 1.5rem;
    }
    .logo-footer{
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }
    .redes{
        align-items: start;
    }
 
    .contacto{
        align-items: start;
    }
    .categorias{
        align-items: start;
    }

    .logo-footer img {
        width: 100px;
    }

    footer .contacto {
        margin-top: 0px;
        display: flex;
    }

    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}