.slider{
     width: 75 vw;
     height: auto;
     margin: auto;
     overflow: hidden;
}

.slider .slider-track {
    display: flex;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(200px * 14); 
}
.slider .slide{
    width: 200px;
    background-color: var(--clr-rojo);
    color: var(--clr-blanco);
    font-weight: 700;
    font-size: 16px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}